<html>
    <head>
    <title>Add View</title>
    </head>
    <body>
        
        <a href="/">Home</a>
        
        <h2>"{{ title }}" has been added!</h2><!--we don't need add.title, just title, author etc.-->
    <li>Title: {{ title }}</li>
    <li>Author: {{ author }}</li>
    <li>Genre: {{ genre }}</li>
    <li>Date Published: {{ pubdate }}</li>
    <p><a href="/delete?title={{ title }}">Delete this title</a></p><!--link to the /delete?querystring to delete the title-->
         
    </body>
</html>