<html>
    <head>
    <title>Details View</title>
    </head>
    <body>
        
        <a href="/">Home</a>
        
{{#if gotten}}<!--can't put spaces in these curly braces before the code...-->
    <h2>Details for {{ gotten.title }}</h2>
    <li>Title: {{ gotten.title }}</li>
    <li>Author: {{ gotten.author }}</li>
    <li>Genre: {{ gotten.genre }}</li>
    <li>Date Published: {{ gotten.pubdate }}</li>
    <p><a href="/delete?title={{ gotten.title }}">Delete this title</a></p><!--link to the /delete?querystring to delete the title-->
        
{{ else }}<!--if title not here...-->
        <h2>error: title "{{ title }}" not found</h2>
{{/if}}

    </body>
</html>