<h2>Home</h2>
   
<form method="POST" action="/get"><!--POST the data, to url with /get-->
    <input type="text" name="title" placeholder="title" maxlength="100" required>
    <button>Search</button>
</form>
    
    <br/>
    <br/>
    
<form method="POST" action="/add" name="add">
    <input type="text" name="title" placeholder="title" maxlength="100" required>
    <input type="text" name="author" placeholder="author" maxlength="100" required>
    <input type="text" name="genre" placeholder="genre" maxlength="100" required>
    <input type="text" name="pubdate" placeholder="year published" maxlength="100" required>
    <button>Add Book</button>
</form>

<h2>Books in our list:</h2>
{{#if books}}
    {{#each books}}
        <h3>Title: <a href="/get/{{title}}">{{title}}</a></h3>
    {{/each}}
{{else}} <!--if no books-->
    <h3>Sorry, we currently have no books!</h3>
{{/if}}
    
{{! here is a server-side comment}}